.EachItem-Container {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 5px 5px 10px #eee;
  width: 95%;
}

.EachItem-img {
  width: 120px;
  height: 120px;
  padding-top: 2px;
}

.EachItem-name p {
  margin: 5px 10px 5px 15px;
  /* margin-bottom: 5px; */
  text-align: left;
}

.EachItem-name #name {
  font-weight: bold;
  font-size: 1.1em;
}

.EachItem-name #link {
  font-weight: 300;
  font-size: 0.85em;
  color: gray;
  display: block;
  width: 275px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.EachItem-price {
  display: flex;
}

.EachItem-price p {
  margin: 2.5px;
  margin-top: 0px;
  margin-left: 15px;
}

.EachItem-price #oldPrice {
  text-decoration: line-through;
}

.EachItem-price #newPrice {
  font-weight: bold;
  color: red;
  margin-left: 5px;
}
