.shoppingList-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 5vw;

  /* width: 80vw; */
}

.shoppingList-title {
  width: 82%;
}

.shoppingList-title h4 {
  margin-top: 50px;
}

.shoppingList-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
