.EachItem-Container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 10px; */
  background-color: #fff;
  /* background-color: blue; */
  padding: 5px;
  box-shadow: 5px 5px 10px #eee;
  width: 95%;
  height: 50px;
  border-radius: 10px;
}

.EachItem-img-container {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.EachItem-img {
  width: auto;
  height: 80px;
}

.EachItem-name p {
  margin: 5px 10px 5px 15px;
  /* margin-bottom: 5px; */
  text-align: left;
}

.EachItem-name #listname {
  font-weight: bold;
  font-size: 1.1em;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.EachItem-name #link {
  font-weight: 300;
  font-size: 0.85em;
  color: gray;
  display: block;
  width: 275px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.EachItem-price {
  display: flex;
}

.EachItem-price p {
  margin: 2.5px;
  margin-top: 0px;
  margin-left: 15px;
}

.EachItem-price #oldPrice {
  text-decoration: line-through;
}

.EachItem-price #newPrice {
  font-weight: bold;
  color: red;
  margin-left: 5px;
}

.MuiPaper-root.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded {
  border-top: 10px solid black;
}

.MuiPaper-root.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded ::before {
  border-width: 8px 16px 8px 0;
  border-color: transparent #d9d9d9 transparent transparent;
}

.MuiPaper-root.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded::-webkit-scrollbar {
  width: 8px;
}

.MuiPaper-root.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: lightgray;
}

.MuiPaper-root.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #525050;
}
